.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
 
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 200px;
}

.fighter-preview___right .fighter-preview___img  {
  transform: scaleX(-1);
}

.fighter-preview___info_name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.fighter-preview___info_row {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.fighter-preview___info {
  background: #ffdfa7;
  border: 5px solid #ca9650;
  text-align: center;
  padding: 5px 10px;
  width: 120px;
}

.fighter-preview___info img {
  padding-right: 5px;
}

.fighter-preview___info span {
  margin-left: 3px;
}

